h1 {
  margin-top: 0%;
  margin-bottom: 0%;
  background-color: rgba(194, 219, 218, 0.7);
  opacity: 0.5;
  height: auto;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 100px;
  letter-spacing: 17px;
}

h1 a:visited {
  color: rgb(0, 0, 0); /* 이미 방문한 링크의 색상을 변경 */
  text-decoration: none; /* 이미 방문한 링크의 밑줄 제거 */
  background-color: rgba(194, 219, 218, 0.7);
}
ol {
  margin-top: 0%;
  font-size: 20px;
  border: 3px dotted black;
  background-color: rgb(252, 252, 207);
}
